#ems section {
    background-color: #5c4d7d;
    width: 800px;
    height: 800px;
}


/* 50% of parent size ie <section> */

#ems div {
    background-color: #892b64;
    width: 70%;
    height: 70%;
}


/* 200% of 40 = 80px */

#ems h1 {
    font-size: 30px;
    border: 1px solid black;
    line-height: 200%;
}


/* EMs and REM's 

    1em = font-size of parent
    2em's = 2 * font-size of parent
*/

#ems h3 {
    font-size: 0.5em;
}

#ems p {
    font-size: 1em;
}


/* 1EM = font'size of element itself
   NOTE: The margin changes relateive to font-size instead of parent for margin

   2em -> margin-left = 40px
   4em -> margin-left = 80px
*/

#ems h2 {
    /* font-size: 2em; */
    font-size: 1em;
    margin-left: 1em;
}

#emsbutton {
    font-size: 30px;
    padding: 0 30px;
    border-radius: 15px;
    background-color: #003566;
    color: #ffc300;
}

#ems article {
    font-size: 20px;
}


/* See how changing the article font-size
   will grow all the button elements proptionatly
*/

#ems .buttonMe {
    background-color: #9e2a2b;
    color: #fff3b0;
    /* Relative to 20px */
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
}


/* Nested UL's keep stacking */

#ems ul {
    font-size: 1.5em;
}


/* EMS: 
    Relative to the root html element's font-size.
    i.e. same for entire document
    If the root font-size is 20px, 1 rem is always 20px, 2rem is always 40px, etc
*/

#ems div ul {
    color: white;
}

#rems h2 {
    font-size: 3rem;
}

#rems h3 {
    font-size: 2rem;
}

#rems ul {
    font-size: 0.8rem;
}


/* See how all rem changes with html (root) font-size */

html {
    font-size: 30px;
}

#rems button {
    font-size: 1.8rem;
}