img {
    width: 30%;
    /* 30*3 = 90, remaining 10%/6 = 1.67% */
    /* margin :1.5%; */
    margin: calc(10%/8);
    display: inline-block;
    height: 30%;
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 40%;
    margin-left: calc(10%/8);
    padding: 0.8em 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
}